<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Control_De_Tareas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link href="~/css/side.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Control_De_Tareas.styles.css" asp-append-version="true" />
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-blue navbar-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Control De Tareas</a>
            <div class="d-flex align-items-center">
                <span class="text-white me-3">Bienvenido, Carlos Administrador</span>
                <button class="navbar-toggler d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            @await Html.PartialAsync("_Sidebar")

            <!-- Main content -->
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4" style="margin-left: 250px; padding-top: 80px; transition: margin-left 0.3s ease;">
                <div class="container">
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
